<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resultlist.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @resultlist.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @resultlist.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @resultlist.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @resultlist.zip %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @resultlist.rating %>
</p>

<p>
  <strong>Reviews:</strong>
  <%= @resultlist.reviews %>
</p>

<p>
  <strong>Url:</strong>
  <%= @resultlist.url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @resultlist.image %>
</p>

<%= link_to 'Edit', edit_resultlist_path(@resultlist) %> |
<%= link_to 'Back', resultlists_path %>
